/*---------------------
Group Display CSS START
---------------------*/
.group-cards-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.content-body-header-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	a {
		margin: 0 30px;
	}
}

.content-body-search {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	input {
		margin: 0 30px;
	}
}

.content-body-radio {
	display: flex;
	flex-direction: column;
	justify-content: center;
	border: 1px solid lightgray;
	padding: 0 5px;
	border-radius: $border-radius;
}
